@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Alterar Senha";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="text-center mb-4">
            <h4 class="fw-600">Alterar Senha</h4>
        </div>
        <form asp-action="ChangePassword" method="post" class="border p-4 shadow-sm rounded bg-white">
            
            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label fw-500 small">Senha Antiga: <span class="text-danger">*</span></label>
                <input asp-for="OldPassword" class="form-control" placeholder="Digite sua senha antiga" type="password" />
                <span asp-validation-for="OldPassword" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="NewPassword" class="form-label fw-500 small">Nova senha:  <span class="text-danger">*</span></label>
                <input asp-for="NewPassword" class="form-control" placeholder="Digite sua nova senha" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ConfirmPassword" class="form-label fw-500 small">Confirmar senha: <span class="text-danger">*</span></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirme sua nova senha" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Salvar</button>
            <a asp-action="Details" class="btn btn-outline-secondary w-100 mt-2">Cancelar</a>
        </form>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger mt-3 small">
                @Html.ValidationSummary()
            </div>
        }
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}